[submodule "vim/vim/pack/default/start/completor.vim"]
	path = vim/vim/pack/default/start/completor.vim
	url = git@github.com:maralla/completor.vim.git
[submodule "vim/vim/pack/default/start/ctrlp.vim"]
	path = vim/vim/pack/default/start/ctrlp.vim
	url = git@github.com:kien/ctrlp.vim.git
[submodule "vim/vim/pack/default/start/validator.vim"]
	path = vim/vim/pack/default/start/validator.vim
	url = git@github.com:maralla/validator.vim.git
[submodule "vim/vim/pack/default/start/vim-autoread"]
	path = vim/vim/pack/default/start/vim-autoread
	url = git@github.com:djoshea/vim-autoread.git
[submodule "vim/vim/pack/default/start/vim-auto-save"]
	path = vim/vim/pack/default/start/vim-auto-save
	url = git@github.com:907th/vim-auto-save.git
[submodule "vim/vim/pack/default/start/vim-speeddating"]
	path = vim/vim/pack/default/start/vim-speeddating
	url = git@github.com:tpope/vim-speeddating.git
[submodule "vim/vim/pack/default/start/rainbow"]
	path = vim/vim/pack/default/start/rainbow
	url = https://github.com/luochen1990/rainbow.git
[submodule "vim/vim/pack/default/start/vim-fireplace"]
	path = vim/vim/pack/default/start/vim-fireplace
	url = git://github.com/tpope/vim-fireplace.git
[submodule "vim/vim/pack/default/start/vim-ingo-library"]
	path = vim/vim/pack/default/start/vim-ingo-library
	url = https://github.com/inkarkat/vim-ingo-library.git
[submodule "vim/vim/pack/default/start/vim-mark"]
	path = vim/vim/pack/default/start/vim-mark
	url = https://github.com/inkarkat/vim-mark.git
[submodule "vim/vim/pack/default/start/vim-table-mode"]
	path = vim/vim/pack/default/start/vim-table-mode
	url = git@github.com:dhruvasagar/vim-table-mode.git
